.form {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 48px;
    color: var(--text-color-primary);
    gap: 13px;
}